<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79978435586-oc04i32d925ne6386v0170a8hj2pcg34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79978435586-oc04i32d925ne6386v0170a8hj2pcg34</string>
	<key>API_KEY</key>
	<string>AIzaSyBofZtk7EuGTp6eCbDAl8q-Fcet_Og4Dgs</string>
	<key>GCM_SENDER_ID</key>
	<string>79978435586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footballTicket</string>
	<key>PROJECT_ID</key>
	<string>footballtickket</string>
	<key>STORAGE_BUCKET</key>
	<string>footballtickket.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79978435586:ios:2352fa1bddfb58f6bcc31b</string>
</dict>
</plist>